APP_KEY=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

MAIL_TO=
MAIL_CC=
MAIL_BCC=

AWS_ACCESS_KEY_ID=
AWS_ACCESS_KEY_SECRET=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_URL=

ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_BUCKET=
ALIYUN_URL=
ALIYUN_ENDPOINT=

TENCENT_ACCESS_KEY_ID=
TENCENT_ACCESS_KEY_SECRET=
TENCENT_BUCKET=
TENCENT_URL=

MINIO_ACCESS_KEY_ID=
MINIO_ACCESS_KEY_SECRET=
MINIO_BUCKET=
