name: Codecov
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - name: Set up framework cache
        run: |
          go install github.com/${GITHUB_REPOSITORY}@master || true
          ls -al $(go env GOMODCACHE)/github.com/goravel
      - name: Install dependencies
        run: go mod tidy
      - name: Run tests with coverage
        run: go test -timeout 1h -coverprofile="coverage.out" $(go list ./... | grep -v /mocks | grep -v /facades | grep -v /contracts | grep -v /testing/mock | grep -v /database)
      - name: Print coverage report
        run: go tool cover -func=coverage.out
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.out
          token: ${{ secrets.CODECOV }}
